- hosts: servers

  tasks:
    - name: Sync docker image
      synchronize:
        src: "{{ src_dir }}//baldur_app_latest.tar.gz"
        dest: "{{ deploy_dir }}"

    - name: Load docker image
      ansible.builtin.shell:
        cmd: docker load < baldur_app_latest.tar.gz
        chdir: "{{ deploy_dir }}"

    - name: Stop running conatiner
      ansible.builtin.shell:
        cmd: docker container remove --force {{ container_name }}

    - name: Run docker image as container
      ansible.builtin.shell:
        cmd: >
          docker run -d
          -p 3333:4567
          --name {{ container_name }}
          --add-host={{ db_host }}:66.175.215.212
          -e AWS_ACCESS_KEY_ID="{{ aws_access_key_id }}"
          -e AWS_SECRET_ACCESS_KEY="{{ aws_secret_access_key }}"
          -e S3_BUCKET_NAME="{{ s3_bucket_name }}"
          -e DATABASE_URL="postgresql://{{ db_user }}:{{ db_password }}@{{ db_host }}/{{ db_name }}?sslmode=require"
          -e UPLOAD_PASSWORD="{{ upload_password }}"
          -e RACK_ENV=production
          baldur_app:latest

    - name: Install laramirandagoodman.com service
      become: yes
      template:
        src: ./templates/systemd-service.j2
        dest: /etc/systemd/system/com.laramirandagoodman.service
        owner: root
        group: root
        mode: '0644'

    - name: Enable and start laramirandagoodman.com service
      become: yes
      systemd:
        name: com.laramirandagoodman
        state: restarted
        daemon_reload: yes
        enabled: yes

- hosts: balancers

  handlers:
    - name: Restart Nginx
      become: yes
      ansible.builtin.service:
        name: nginx
        state: restarted

  tasks:

  - name: Install laramirandagoodman.com config
    become: yes
    synchronize:
      src: "{{ src_dir }}/nginx.conf"
      dest: /etc/nginx/sites-available/laramirandagoodman-com

  - name: Enable laramirandagoodman.com
    become: yes
    file:
      src: /etc/nginx/sites-available/laramirandagoodman-com
      dest: /etc/nginx/sites-enabled/laramirandagoodman-com
      state: link
    notify: Restart Nginx
