services:
  {{ site_slug }}_wordpress:
    image: wordpress:6.5.5-php8.3-fpm-alpine
    container_name: wordpress-{{ site_slug }}-1
    restart: unless-stopped
    env_file: .env
    environment:
      WORDPRESS_DB_HOST: $MARIADB_HOST
      WORDPRESS_DB_USER: $MARIADB_USER
      WORDPRESS_DB_PASSWORD: $MARIADB_PASSWORD
      WORDPRESS_DB_NAME: $MARIADB_NAME
    volumes:
      - {{ volume_name }}:/var/www/html

  {{ site_slug }}_nginx:
    image: nginx:1.27.0-alpine
    container_name: nginx-{{ site_slug }}-1
    restart: unless-stopped
    ports:
      - "{{ wordpress_port }}:80"
    volumes:
      - {{ volume_name }}:/var/www/html
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - {{ site_slug }}_wordpress

volumes:
  {{ volume_name }}:
