<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <squareup_payment>
                <active>1</active>
                <title>SquareUp Payment Method</title>
                <payment_action>authorize</payment_action>
                <cctypes>AE,VI,MC,DI</cctypes>
                <model>Squareup\Omni\Model\Payment</model>
            </squareup_payment>
            <squareup_transaction_payment>
                <active>1</active>
                <title>Square Payment</title>
                <model>Squareup\Omni\Model\Transaction\Payment</model>
            </squareup_transaction_payment>
        </payment>
        <carriers>
            <square_shipping>
                <active>1</active>
                <model>Squareup\Omni\Model\Transaction\Shipping</model>
                <title>Square Shipping</title>
            </square_shipping>
        </carriers>
    </default>
</config>
