<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="squareupomni_transactions_grid_data_source" xsi:type="string">Squareup\Omni\Model\ResourceModel\Transactions\Grid\Collection</item>
                <item name="squareupomni_refunds_grid_data_source" xsi:type="string">Squareup\Omni\Model\ResourceModel\Refunds\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Squareup\Omni\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>

    <type name="Squareup\Omni\Logger\DebuggerHandler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>

    <type name="Squareup\Omni\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">customLogHandler</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Squareup\Omni\Logger\Handler</item>
            </argument>
        </arguments>
    </type>

    <type name="Squareup\Omni\Logger\Debugger">
        <arguments>
            <argument name="name" xsi:type="string">customDebuggerHandler</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Squareup\Omni\Logger\DebuggerHandler</item>
            </argument>
        </arguments>
    </type>
    <preference for="Magento\Sales\Model\Order\Payment\Operations\AuthorizeOperation" type="Squareup\Omni\Model\Order\Payment\Operations\AuthorizeOperation"/>
    <preference for="Magento\Payment\Model\Checks\ZeroTotal" type="Squareup\Omni\Model\Checks\ZeroTotal" />
    <preference for="Magento\Sales\Model\Order" type="Squareup\Omni\Model\Sales\Order" />
</config>
