<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()" />
        <label data-bind="attr: {'for': getCode()}" class="label">
            <span data-bind="text: getTitle()"></span>
        </label>
    </div>
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <div id="payment_form_squareup_payment" afterRender="initPayment">
            <div id="sq-ccbox">
                <!-- ko if: displayForm -->
                <form id="nonce-form" novalidate data-bind="attr: {action: getActionUrl()}" method="post">
                    <if args="getHaveSavedCards() && getIsSaveOnFileEnabled()">
                        <span data-bind="i18n: 'Pay with a saved Credit Card or use another Credit Card'"></span>
                    </if>
                    <ifnot args="getHaveSavedCards() && getIsSaveOnFileEnabled()">
                        <span data-bind="i18n: 'Pay with a Credit Card'"></span>
                    </ifnot>

                    <if args="getHaveSavedCards() && getIsSaveOnFileEnabled()">
                        <if args="getCustomerCards()">
                            <div data-bind="foreach: {data: getCustomerCards(), as: 'card'}">
                                <div id="square-customer-cards">
                                    <div id="squareup_payment_cards">
                                        <input type="radio"
                                               name="squareup_cards"
                                               class="radio"
                                               autocomplete="off"
                                               data-bind="attr: {
                                                   id: 'squareup_payment_card_' + card.card_id,
                                                   value: card.card_id,
                                                   title: card.cardholder_name + card.card_brand
                                               }">
                                        <label class="square-saved-card-label" data-bind="attr: {for: 'squareup_payment_card_' + card.card_id}, text: $parent.getCardInputTitle(card)"></label>
                                    </div>
                                </div>
                            </div>
                        </if>
                        <div id="square-customer-cards">
                            <div id="squareup_pay_other_card">
                                <input id="squareup_payment_other_card" value="other_card" type="radio" name="squareup_cards"
                                       class="radio"
                                       autocomplete="off"
                                       data-bind="attr: {title: $t('Use other card')}">
                                <label for="squareup_payment_other_card" data-bind="text: $t('Use other card')"></label>
                            </div>
                        </div>
                    </if>

                    <div id="square_form_fields" class="form-fields" data-bind="visible: !(getHaveSavedCards() && getIsSaveOnFileEnabled())">
                        <div id="card-container"></div>
                        <table>
                            <tbody>
                            <tr data-bind="visible: (getCanSaveCards() && displaySaveCcCheckbox())">
                                <td class="label-name" data-bind="i18n: 'Save this credit card for future payments'"></td>
                                <td class="input-wrap">
                                    <input id="save-square-card" type="checkbox" name="payment[save_square_card]"/>
                                </td>
                            </tr>
                            <!--<tr>
                                <td colspan="2">
                                    <button id="sq-creditcard" class="button-credit-card" data-bind="i18n: 'Pay with card', event: { click: requestCardNonce }"></button>
                                </td>
                            </tr>-->
                            </tbody>
                        </table>
                        <input type="hidden" id="card-nonce" name="payment[nonce]">
                        <input type="hidden" id="digital-wallet" name="payment[digital_wallet]">
                        <input type="hidden" id="card-brand" name="payment[cc_type]" value="">
                        <input type="hidden" id="card-last-4" name="payment[cc_number]" value="">
                        <input type="hidden" id="card-exp-month" name="payment[cc_exp_month]" value="">
                        <input type="hidden" id="card-exp-year" name="payment[cc_exp_year]" value="">
                        <input type="hidden" id="buyerVerification-token" name="payment[buyerVerification-token]">
                        <input type="hidden" id="gift-card-nonce" name="payment[gift-nonce]">
                        <input type="hidden" id="gift-card-code" name="payment[gift-code]">
                        <input type="hidden" id="save_square_cards_empty" name="payment[save_square_card]" data-bind="visible: getCanSaveCards() && getCustomerCards() && getIsSaveOnFileEnabled()"/>
                        <p data-bind="visible: onlyCardOnFileEnabled()">Your card will be automatically saved securely on Square.</p>
                    </div>
                </form>
                <!-- /ko -->
            </div>
            <div id="sq-walletbox">
                <span data-bind="i18n: 'Pay with a Digital Wallet'"></span>
                <span id="sq-apple-pay" class="button-apple-pay"></span>
<!--                <span id="sq-masterpass" class="button-masterpass"></span>-->
            </div>
        </div>

        <if args="isGiftCardEnabled()">
            <form id="square-gift-card" novalidate>
                <div id="sq-gift-card"></div>
                <div id="square-gc-balance" data-bind="visible: showBalance"></div>
                <button class="action check-gift-card-balance"
                        type="submit"
                        data-bind="click: checkGiftCardBalance">
                    <span>Check gift card balance</span>
                </button>
                <button class="action apply-gift-card"
                        type="submit"
                        data-bind="click: applyGiftCard">
                    <span>Apply Gift Card</span>
                </button>
                <div>
                    <table>
                        <tbody data-bind="foreach: giftCards">
                        <tr>
                            <td data-bind="text: card_code"></td>
                            <td><a href="#" data-bind="click: $parent.removeGiftCard">Remove gift card</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </if>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <div class="actions-toolbar">
            <div class="primary">
                <button data-role="review-save"
                        type="submit"
                        data-bind="
                        attr: {title: $t('Place Order')},
                        enable: (getCode() == isChecked()),
                        click: requestCardNonce,
                        css: {disabled: !isPlaceOrderActionAllowed()}
                        "
                        class="action primary checkout"
                        disabled>
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
