#!/bin/sh

cd {{ build_dir }}
rm -rf public_html/pub/static/*
rm -rf public_html/var/cache public_html/var/page_cache public_html/var/view_preprocessed
docker exec php-{{ site_slug }}-1 php /var/www/html/bin/magento cache:flush
