AWS_ACCESS_KEY_ID={{ aws_access_key_id }}
AWS_SECRET_ACCESS_KEY={{ aws_secret_access_key }}
S3_BUCKET_NAME={{ s3_bucket_name }}
DATABASE_URL=postgresql://{{ db_user }}:{{ db_password }}@{{ db_host }}/{{ db_name }}?sslmode=require
UPLOAD_PASSWORD={{ upload_password }}
RACK_ENV=production
