[Unit]
Description=The laramirandagoodman.com website
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'docker start {{ container_name }} || docker run -d --restart unless-stopped -p 3333:4567 --name {{ container_name }} --add-host={{ db_host }}:{{ db_host_ip }} --env-file {{ deploy_dir }}/.env baldur_app:latest'
RemainAfterExit=yes

[Install]
WantedBy=default.target
