[Unit]
Description=The timespace.metatooth.com website
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'docker container inspect ruby-timespace-1 >/dev/null 2>&1 || docker run -d -p 4000:4567 --name ruby-timespace-1 timespace_app:latest'
RemainAfterExit=yes

[Install]
WantedBy=default.target
