@threetwenty-color-pink: #ff33bb;
@threetwenty-color-black: #2d2d2d;
@threetwenty-color-grey: #fdfdfd;

//
//  Typography
//  ---------------------------------------------

//  Fonts

//  Color nesting
@page__font-color: @threetwenty-color-black;
@page__background-color: @threetwenty-color-grey;
@header__text-color: @color-white;
@header__background-color: @threetwenty-color-pink;;


//  Headings
@h1__font-weight: 700;
@h2__font-weight: 700;

//  Links
@link__color: @threetwenty-color-pink;
@link__hover__color: @threetwenty-color-pink;

//  Focus

//
//  Navigation
//  ---------------------------------------------

@navigation__background: @threetwenty-color-black;

@navigation-level0-item__color: @color-white;
@navigation-level0-item__active__color: @color-white;

@navigation-level1-item__color: @color-white;
@navigation-level1-item__active__color: @color-white;

@submenu-item__color: @navigation-level0-item__color;
@submenu-item__active__color: @navigation-level0-item__active__color;

//  Desktop navigation

@navigation-desktop-level0-item__color: @color-white;
@navigation-desktop-level0-item__hover__color: @color-white;
@navigation-desktop-level0-item__active__color: @color-white;
@navigation-desktop-level0-item__active__border-color: @color-white;

@submenu-desktop-item__active__color: @navigation-level0-item__active__color;

//
//  Buttons
//  ---------------------------------------------

//  Primary button
@button-primary__color: @color-white;
@button-primary__hover__color: @color-white;
@button-primary__background: @threetwenty-color-pink;
@button-primary__hover__background: darken(@threetwenty-color-pink, 10%);
@button-primary__border: 1px solid @threetwenty-color-pink;
@button-primary__hover__border: 1px solid darken(@threetwenty-color-pink, 10%);

//
//  Footer
//  ----------------------------------------------

@footer__background-color: @threetwenty-color-black;
@copyright__background-color: @threetwenty-color-pink;
