<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_address_save_after">
        <observer name="customer_square_after_address_save" instance="Squareup\Omni\Observer\Customer\AfterAddressSaveObserver" />
    </event>
    <event name="checkout_cart_update_items_after">
        <observer name="squareup_cart_update_after" instance="Squareup\Omni\Observer\Checkout\AfterUpdateItems" />
    </event>
</config>
