[Unit]
Description=Metatooth Dental API
Requires=docker.service
After=docker.service

[Service]
WorkingDirectory={{ build_dir }}
ExecStart=/usr/bin/docker compose up
ExecStop=/usr/bin/docker compose down
Restart=always
Environment="PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin"
EnvironmentFile={{ build_dir }}/.env

[Install]
WantedBy=multi-user.target
